@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #1c1c1c;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.default {
  background: rgb(40, 40, 40);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: white solid 1px;
}

.primary {
  background: rgb(0, 220, 130);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: rgb(0, 220, 130) solid 1px;
}

.danger {
  background: rgb(244, 67, 54);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border: rgb(244, 67, 54) solid 1px;
}
